body {
    background-color: rgb(0, 188, 212);
}

#fixed-tab-1 {
    text-align: center;
}

.demo-card-square.mdl-card {
    width: 320px;
    height: 320px;
}

.demo-card-square > .douyu_icon {
    color: #fff;
    background: url('assets/douyu.jpg') center / cover #46B6AC;
}

.demo-card-square > .bilibli_icon {
    color: #fff;
    background: url('assets/bili.jpg') center / cover #46B6AC;
}

.demo-card-square > .pandatv_icon {
    color: #fff;
    background: url('assets/panda.jpg') center / cover #46B6AC;
}

.demo-list-icon {
    width: 300px;
}
